@model ForumTopicVM

<!-- Topics-delete -->
<section class="topic-delete">

    <!--title-->
    <div class="topic-delete__title">
        <p>Удалить тему</p>
        <p>"@Model.Title"?</p>
    </div>

    <!--form-->
    <form class="topic-delete__form" asp-action="Delete" method="post">

        <!--buttons-->
        <div class="topic-delete__buttons">
            <div class="buttons__cancel-btn">
                <a class="button button--red" asp-action="Topics">нет</a>
            </div>
            <div class="buttons__confirm-btn">
                <input class="button button--green" type="submit" value="да" />
            </div>
        </div>
    </form>
</section>