@model ForumRecordVM

<!-- Record-create -->
<section class="record-create">

    <!-- toolbar -->
    <div class="record-create__toolbar">

        <!-- back -->
        <div class="record-create__return-btn">
            <a class="button button--return" asp-controller="Forum" asp-action="Topic" asp-route-id="@TempData["TopicId"]">назад</a>
        </div>
    </div>

    <form class="record-create__form" asp-action="RecordCreate" method="post" enctype="multipart/form-data">
        <input type="hidden" value="@TempData["TopicId"]" asp-for="TopicId" />

        <!-- record textarea -->
        <div class="record-create__textarea">
            <textarea class="textarea__input" asp-for="Text" placeholder="Новая запись..."></textarea>
            <span class="valid-span" asp-validation-for="Text"></span>
        </div>

        <!-- record footer -->
        <div class="record__footer">

            <!-- file -->
            <div class="record-create__file">
                <div class="input-file-wrapper">
                    <label>
                        <input class="input-file" name="files" type="file" multiple accept=".jpg,.png,.jpeg,.webp,.avif,.mp3,.ogg,.mp4,.ogv,.webm" />
                        <div>выбрать файл</div>
                        <input class="input-file-field" type="text" id="inputField" value="Файл не выбран." disabled />
                    </label>
                </div>
            </div>

            <!-- buttons -->
            <div class="record-create__buttons">
                <input class="button button--green" type="submit" value="записать" />
            </div>
        </div>
    </form>
</section>
